# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Generated documentation
doc/html/
doc/latex/
doc/man/

# CMake objects
**/*.cbp
**/CMakeCache.txt
**/CMakeFiles/
**/CMakeScripts
**/CTestTestfile.cmake
**/Makefile
**/cmake-build-debug
**/cmake_install.cmake
**/compile_commands.json
**/install_manifest.txt

# Keep root Makefile
!/Makefile

# Language server cache
.ccls-cache
